@import "../../core/variables";

.aside-left {
  display: none;
}

@media (min-width: $breakpoint-large) {
  .aside-left {
    display: block;
    width: 255px;
    background-color: $blue_corp;
    padding: 50px;
    &__logo {
      width: 163px;
      height: auto;
    }
    &__nav {
      margin-top: 120px;
      li {
        width: 111px;
        height: 10px;
        background-color: $white;
        margin-top: 36px;
      }
    }
  }
}
