//variables scss

$white: #ffffff;

$grey_ECECF1: #ececf1;
$grey_A3A3A8: #a3a3a8;
$grey_49494F: #49494f;
$grey_8C8D91: #8c8d91;

$blue_304C70: #304c70;
$blue_corp: #242d38;
$blue_7598c4: #7598c4;

$orange_E4871B: #e4871b;

$red_D25746: #d25746;
$green_338473: #338473;

$font-stack: "Roboto", sans-serif;

// responsive
$breakpoint-small: 600px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1440px;
