@import "core/_reset";
@import "core/_variables";

body {
  background-color: $grey_ECECF1;
  font-family: $font-stack;
}

.container {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  &__main {
    width: 100%;
    &__secondary {
      width: 100%;
      display: flex;
    }
  }
}
